:root {
  --height: 100px;
}

@font-face {
  font-family: "headline";
  src: url("./blackjack-webfont.woff2") format("woff2"),
    url("./blackjack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "text";
  src: url("./cmunui-webfont.woff2") format("woff2"),
    url("./cmunui-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.headline-container {
  height: var(--height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.headline-image-container {
  margin-left: 30px;
  height: 71px;
  width: 64px;
}
.headline-image-container img {
  height: 100%;
  width: 100%;
}

.headline-list {
  list-style: none;
  display: flex;
  margin-left: -64px;
  justify-content: center;
  flex: 1;
  gap: 35px;
  width: 100%;
}
.headline-list-item {
  font-family: "text";
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: -2px;
}

.headline-list-item::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -17.5px;
  right: -17.5px;
  bottom: -20px;
}

.headline-list-item::before {
  border: 2px solid black;
  content: "";
  position: absolute;
  top: -20px;
  left: -17.5px;
  right: -17.5px;
  bottom: -24px;
  margin-bottom: -2px;
  z-index: 2;
}

.headline-list-item:hover {
  opacity: 0.5;
}

.headline-list-item.active::before {
  border-bottom: 2px solid white;
  z-index: 2;
}

.headline-list-item.active:hover {
  opacity: 1;
  color: rgb(125, 125, 125);
}

.body-container {
  position: relative;

  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 100vw;
  min-height: calc(100vh - var(--height) - 10px);
}

.body-container::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 2px;
  background-color: black;
  z-index: 1;
}

.about-container {
  padding: 20px;
  text-align: center;
  color: rgb(255, 249, 190);
  font-size: 2.5rem;
  background-color: rgb(139, 111, 88, 0.45);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(500px, 55vw, 1000px);
  min-height: 60vh;

  margin: 100px auto 0;
}

.about-container h2 {
  font-family: "headline";
  font-weight: bold;
  font-size: 4.5rem;
  color: rgb(211 222 229);
}
.about-owner {
  width: 450px;
  height: 300px;
  border-radius: 30%;
  margin: 40px 0;
}

.about-text {
  margin-bottom: 50px;
  font-family: "text";
}
